{
    "sonarr": {
        "url": "",
        "apiKey": ""
    },
    "radarr": {
        "url": "",
        "apiKey": ""
    },
    "telegram": {
        "botToken": "",
        "admins": []
    },
    "bot": {
        "logLevel": "info",
        "name": "the Bestest Bot"
    }
}